extends layout

block content
    div(class="ui one column centered stackable grid")
        div(class="eight wide column")
            p(class="initial lettering").
                It began when The Gender Agenda’s founder and host, Dalit Kaplan, was told off for singing
                too loudly in synagogue.

            p.
                Dalit was only sixteen, and while she hadn’t grown up in a terribly religious household, she
                was interested in exploring various spiritual paths.

            p.
                She began to attend a small vibrant synagogue for teenagers in her neighbourhood.  The
                synagogue was Orthodox, which meant that it came with the usual orthodox-trappings
                including a separation barrier between the men and women (a mechitza‘’) with most of the
                action taking place on the men’s side, and a ‘skirts-only’ dress-code for the girls.

            p.
                But aside from these formalities, the culture of the synagogue was quite inclusive.  The girls
                felt that it was ‘their’ synagogue just as much as it belonged to the boys.  And even though
                technically, the boys ran the services, girls and boys sang and prayed with equal enthusiasm.

            p.
                Then one day the Rabbi of that synagogue announced during his weekly sermon that the
                girls had been singing too loudly, and that they were violating the principle of “Kol Isha.”

            p.
                Kol Isha, which literally mean’s ‘a woman’s voice’ is controversial in the Orthodox Jewish
                world, and different rabbis have interpreted what it actually means differently.  But the
                Rabbi in that community understood it to mean that women were prohibited from singing
                in earshot of men because it could be… a turn-on.  In other words, it was immodest for the
                girls to be singing and participating in services with such enthusiasm.

            p.
                Well, Dalit thought this was crap, and walked out of the service, never to return.  But this
                experience marked the beginning of an interrogation of the place of gender both inside and
                and outside Jewish culture.

            p.
                This culminated with the establishment of the Gender Agenda, almost two decades later.
                It’s a place to examine how gender affects the way we experience the world.  Enjoy!