extends layout

block content
    div(class="ui one column centered stackable grid")
        div(class="eight wide column")
            ul(class="ui relaxed list")
                li(class="item")
                    div(class="content")
                        h3(class="header") So, are you are ‘feminist’ show?
                        div(class="description")
                            p.
                                We do not subscribe to a particular ideological or political opinion, but rather a journalistic
                                approach to a range of issues that affects people because of their gender.  We have more
                                questions than answers!

                            p.
                                Having said that, feminism is certainly one of the themes that we discuss often.  And there
                                are a few assumptions upon which we operate, namely that homophobia is bad, misogyny is
                                wrong, people should have the right to choose how they want to live their lives regardless
                                of sex or gender, but that at the same time, we cannot be gender-blind, and that we have to
                                accept that we have particular experiences because of our sex and gender (for example,
                                almost all women fear sexual violence more than almost all men).

                li(class="item")
                    div(class="content")
                        h3(class="header") Why is it not “Women’s Agenda” instead of “Gender Agenda”?
                        div(class="description")
                            p.
                                Because we ALL have a gender!  Not just ladies.  And our lives are very much affected by
                                that gender.  Men, women, and anyone in between need to talk about their gender. In fact,
                                we are actually particularly interested in examining the changing face of masculinity.

                li(class="item")
                    div(class="content")
                        h3(class="header") I have an idea or would like to come on as a guest.  Can I pitch to you?
                        div(class="description")
                            p.
                                Yes!  Just email us at host@thegenderagenda.com.  We are always excited to explore new
                                issues and new perspectives.  And remember, people of ANY gender are welcome to pitch!

                li(class="item")
                    div(class="content")
                        h3(class="header") I have a complaint or comment.  Are you interested?
                        div(class="description")
                            p.
                                Yes!  Just email us at host@thegenderagenda.com.  We are always keen to hear any
                                feedback.

                li(class="item")
                    div(class="content")
                        h3(class="header") I would love to come on as a guest.  Can I?
                        div(class="description")
                            p.
                                Most probably!  Again, just email us at host@thegenderagenda.com.  We are always excited
                                to explore new issues and new perspectives.

                li(class="item")
                    div(class="content")
                        h3(class="header") I’ve always wanted to host a show about gender.  Can I?
                        div(class="description")
                            p.
                                We are looking for guest hosts to join the Gender Agenda team.  Perhaps you have a
                                particular interest – like legal issues, gender and health or religion.  We are keen to create a
                                rich and diverse conversation, and the best way to do this is to have a variety of hosts. Just
                                email us at host@thegenderagenda.com, and we can chat about it over coffee!

                li(class="item")
                    div(class="content")
                        h3(class="header") Do you focus on Australian issues only?
                        div(class="description")
                            p.
                                Conversations about gender are taking place all over the world and are crossing many
                                different boundaries.  We follow those conversations regardless of where they are taking
                                place.  But we are especially interested in what is happening in Australia!

                li(class="item")
                    div(class="content")
                        h3(class="header") It's a Jewish station right, so do you only cover the Jewish community?
                        div(class="description")
                            p.
                                We are especially interested in how culture and gender interact.  So we often put the
                                spotlight on religious and cultural issues.  We also like to introduce a Jewish perspective to
                                general issues.  For example, why don’t Jews talk about pregnancy in the first trimester or is
                                it harder for trans-jews to come out? But we also look at gender related issues outside the
                                Jewish community.