extends layout

block content
    div(class="ui one column centered stackable relaxed grid hosts")
        div(class="row")
            div(class="eight wide column")
                h2(class="ui header") Host and Founder
                div(class="ui items")
                    div(class="item")
                        div(class="image")
                            img(src="/img/dalit.jpg")
                        div(class="content")
                            h3(class="header") Dalit Kaplan
                            div(class="description")
                                p.
                                    Dalit Kaplan is a lawyer, storyteller, broadcaster and parent.  She has lived, worked
                                    studied in Melbourne, Jerusalem, Sydney, Chicago and most recently in New York where she
                                    worked with African women who were survivors of domestic and communal violence.  She
                                    now lives in Melbourne with her partner and son.  In addition to hosting The Gender
                                    Agenda, she is the founder and head storyteller at #[a(href="http://www.storywell.com.au") Storywell],
                                    a company that teaches businesses, non-profits and individuals the craft of storytelling.
        div(class="row")
            div(class="eight wide column")
                h2(class="ui header") Guest Hosts
                div(class="ui items")
                    div(class="item")
                        div(class="image")
                            img(src="/img/sophie.jpg")
                        div(class="content")
                            h2(class="header") Sophie Klein
                            div(class="description")
                                p.
                                    Sophie Klein is a social worker with an appetite for creative community development. She is
                                    co-creator of the #[a(href="http://westandproud.info") WESTANDPROUD Project], which documents the lives of queer individuals
                                    in Melbourne’s Western Suburbs through a series of short films.  Sophie is also known
                                    around the Melbourne music scene as singer-songwriter Little Wise. She currently lives in
                                    Melbourne with her partner.