extends layout

block content
    div(class="ui container")
        div(class="ui stackable divided centered two column grid")
            //Posts
            div(class="eight wide column")
                include ./site-components/post-list
            //Subscribe and Social
            div(class="four wide column")
                div(class="ui vertically divided grid")
                    div(class="centered center aligned one column row")
                        include ./site-components/subscribe
                    div(class="centered center aligned one column row")
                        include ./site-components/contact