extends layout

block content
    div(class="ui one column centered stackable grid")
        //Posts
        div(class="eight wide column post")
            div !{content}
            for tag in postTags
                p(class="post tag ui red tag label") #{tag.name}