div(class="ui padded grid")
    div(class="centered center aligned row")
        h2(class="ui header") CONTACT
    div(class="centered center aligned row")
        div(class="hidden ui response message")
            i(class="circular big icon")
            p(class="response message")
            button(id="reset-form", class="ui button") Go Back
        form(class="ui form", id="contact-form")
            div(class="one fields")
                div(class="sixteen wide field")
                    label(for="name") Name
                    input(type="text", id="name", name="name", placeholder="Name")
            div(class="one fields")
                div(class="sixteen wide field")
                    label(for="email") Email
                    input(type="text", id="email", name="email", placeholder="Email")
            div(class="one fields")
                div(class="sixteen wide field")
                    label(for="subject") subject
                    input(type="text", id="subject", name="subject", placeholder="Subject")
            div(class="one fields")
                div(class="sixteen wide field")
                    label(for="message") Message
                    textarea(id="message", name="message", placeholder="Got feedback?  Want to pitch an idea? Come on the show as a guest or co-host?  Blog for us? Contact us here", form="contact-form")
            div(class="one fields")
                div(class="sixteen wide field")
                    input(class="ui right floated red button", type="submit", id="submit", text="submit")
            div(class="ui error message")