h2(class="ui header") CONTACT
    div(class="ui grid")
        div(class="centered center aligned row")
            div(class="hidden contact response")
                i(class="circular big checkmark icon submit-success")
                i(class="circular big remove icon submit-failure")
            form(class="ui form", id="contact-form", action="/contact", method="post")
                div(class="ui inverted dimmer")
                    div(class="ui loader")
                div(class="one fields")
                    div(class="sixteen wide field")
                        label(for="name") Name
                        input(type="text", id="name", name="name", placeholder="Name")
                div(class="one fields")
                    div(class="sixteen wide field")
                        label(for="email") Email
                        input(type="text", id="email", name="email", placeholder="Email")
                div(class="one fields")
                    div(class="sixteen wide field")
                        label(for="subject") subject
                        input(type="text", id="subject", name="subject", placeholder="Subject")
                div(class="one fields")
                    div(class="sixteen wide field")
                        label(for="message") Message
                        textarea(id="message", name="message", placeholder="Enter Your Message Here", form="contact-form")
                div(class="one fields")
                    div(class="sixteen wide field")
                        input(class="ui right floated red button", type="submit", id="submit", text="submit")
                div(class="ui error message")