footer(class="ui vertical inverted basic footer segment")
    div(class="ui center aligned container")
        div(class="ui stackable two column grid")
            div(class="left aligned column")
                p Copyright 2014 - 2016 by Dalit Kaplan
            div(class="right aligned column design info")
                p Designed by
                    a(href="https://www.jacquesdukes.com") Jacques Dukes