footer(class="ui vertical inverted basic footer segment")
    div(class="ui center aligned container")
        div(class="ui stackable two column grid")
            div(class="left aligned column")
                p Copyright &copy; 2016 Dalit Kaplan All Rights Reserved
            div(class="right aligned column design info")
                p Brand and Web Design by #[a(href="https://www.jacquesdukes.com") Jacques Dukes]