div(class="ui header no margin")
    div(class="ui eight item pointing borderless menu padded grid")
        div(class="mobile tablet only row")
            a(class="item")
                img(class="ui image", src="/img/logo.png", width="128", alt="The Gender Agenda")
            div(class="right menu")
                a(class="toc item")
                    i(class="sidebar icon")
        div(class="computer only centered row")
            // Add Logo
            a(href="/", class="item")
                img(class="ui image", src="/img/logo-icon.png", height="32", alt="The Gender Agenda")
            for category, i in categories
                a(href="/?category=#{category.name}", class=i === activeTab ? 'active item' : 'item') #{category.name}
            //Add About column
            div(class="ui dropdown item") About
                i(class="dropdown icon")
                div(class="menu")
                    div(class="item")
                        a(href="/about") Our Story
                    div(class="item")
                        a(href="/about/hosts") People
                    div(class="item")
                        a(href="/about/faq") FAQ