div(class="ui padded grid")
    div(class="centered center aligned row")
        h2(class="ui header") SOCIAL
    div(class="centered center aligned row")
        a(href="http://www.facebook.com/thegenderagenda")
            i(class="large circular facebook icon")
        a(href="http://www.twitter.com/agendagender")
            i(class="large circular twitter icon")
        //a(href="")
            i(class="large circular instagram icon")