div(class="ui padded grid")
    div(class="centered center aligned row")
        h2(class="ui header") SUBSCRIBE
    div(class="centered center aligned row")
        a(href="https://itunes.apple.com/au/podcast/the-gender-agenda/id1025417924?mt=2")
            i(class="large circular apple icon")
        a(href="https://soundcloud.com/thegenderagenda/sets/the-gender-agenda-with-dalit")
            i(class="large circular soundcloud icon soundcloud-padding")
        a(href="http://www.stitcher.com/podcast/dalit-kaplan/the-gender-agenda?refid=stpr")
            i(class="large circular stitcher icon")
        a(href="http://feeds.soundcloud.com/users/soundcloud:users:28040506/sounds.rss")
            i(class="large circular rss icon")